# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objective:**
- Explore popular languages for Data Science
- Understand key concepts of machine learning and its applications.
- Learn how to manipulate and analyze data using pandas
- Gain insights into data visualizations technique using MAtplotlib and seaborn
- Get hands-on experience with Jupyter Notebooks for data analysis.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Panda
3. Scikit-learn
4. Matplotlib
5. TensorFlow

|Data Science Tools |
| ------------------|
|Jupyter Notebooks |
|R Studio |
|VS Code with Python |

### Below are a few examples of evaluating arithmetic expressions in Python

In [21]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [23]:
#This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author: Thomas Yohannes